* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading-section {
  grid-column: 1 / 4;
  background-color: white;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
